body {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("./media/assets/undulate_bkg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #06083d;
  font-family: "Rubik Light", consolas, monospace;
  color: #1adfba;
}

.body__content {
  margin-left: auto;
  margin-right: auto;
}

a {
  color: white;
}
