html,
body {
  margin: 0;
}

html {
  --global_margin: 20%;
}

body {
  font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  display: block;
  background-color: #141d27;
  background-image: url("/assets/site/space_background.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: aliceblue;
  width: 100%;
  height: 100%;
  resize: both;
}

a {
}

a:hover {
}

a:visited {
}

label {
}

input,
button,
select,
textarea {
}

input:disabled {
}

button {
}

button:disabled {
}

button:not(:disabled):active {
}

button:focus {
}
